/* Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header */
.site_container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px auto;
    width: 60%;
}

.logo{
    height: 80px;
}

header{
    background-color: ghostwhite;
    height: 120px;
}

a{
    color: rgb(63, 63, 63);
}

/* Main */
